@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
}
body{
    background: #D4D4D4;
}
.navigation_bar button a{
    font-weight: 400px;
    font-size: 22px;
    border: none;
    background: black;
    color: white;
    text-decoration: none;
}
.navigation_bar li a{
    font-weight: 400px;
    font-size: 22px;
    color:black;
    text-decoration: none;
}
.navigation_bar{
    background: #36454F;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 30px 10%;
}
.navigation_bar  ul  li{
display: inline-block;
padding: 15px;
}
table{
    margin: 20px;
    border-collapse: collapse;
    width: 100%;
    color: black;
    text-align: left;
    text-align: center;
}
/* 
.sidebar{
    position: fixed;
    left: 0 ;
    width: 250px;
    height: 100%;
    background: #0B192C;
}
.sidebar header {
    color: white;
    font-size: 22px;
    font-weight: 700px;
    text-align: center;
    line-height: 70px;
    background: #000a64;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    line-height: 60px;
    width: 100%;
    font-size: 16px;
    color: white;
    padding-left: 40px;
    text-decoratio
} */
.center{
    border-collapse:collapse ;
    margin: 25px;
    font-size: 0.9em;
    min-width: 400px;        
}
.sidebar ul i{
    margin: .5rem;
}