@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
    font-weight: 400px;
}
body{
    background: #D4D4D4;
}

.header{
    margin-left: 250px;
    height: 73px;
    width: 100%;
    padding: 0 30px;
    background-color: #000a64;
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar{
    position: fixed;
    left: 0 ;
    width: 250px;
    height: 100%;
    background: #0B192C;
}
.sidebar header {
    color: white;
    font-size: 22px;
    font-weight: 700px;
    text-align: center;
    line-height: 70px;
    background: #000a64;
    user-select: none;
}
.sidebar ul a{
    display: block;
    height: 100%;
    line-height: 60px;
    width: 100%;
    font-size: 16px;
    color: white;
    padding-left: 40px;
    text-decoration: none;
        
}
.sidebar ul i{
    margin: .5rem;
}
.box_container {
    color: white;
    margin-left: 220px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}
.box_container .boxs{
    border-radius: 20px;
    margin-top: 100px;
    border: 3px solid black;
    padding: .8em;
    background: #1C325B;
}
.header span i{
  height: 40px;
}
.table-container {
    overflow: hidden;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: white;
}
table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: #007BFF;
    color: white;
}
th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
tbody {
    display: block;
    transition: transform 0.5s ease-in-out;
}
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}