@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",sans-serif;
    font-weight: 400px;
    color: white;
}
body {

    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
  }
  
  .signin_form {
    position: relative;
    background-color: rgb(9, 103, 133);
    padding: 60px 30px 30px 30px; /* Added top padding for circle space */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* Circle Border around the form */
  .circle_icon{
    position: absolute;
    top: -50px; /* Move the circle halfway above the form */
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #3498db;
    border-radius: 50%;
  }